 <div id="favorite_form">
  <% if current_user.favorite?(@micropost) %>
    <%= render 'users/unfavorite', locals: {micropost: @micropost} %>
  <% else %>
    <%= render 'users/favorite', locals: {micropost: @micropost} %>
  <% end %>
  </div>

