<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%# render 'shared/micropost_form' %>
      </section>
    </aside>
    <aside class="col-md-8">
      
<h3>Following users</h3>
<ol class="microposts">
<% @following_users.each do |following_users| %>
<%= link_to gravatar_for(following_users, size: 50), following_users %>
<%= following_users.name %>
<%= following_users.email %>
<hr>
<% end %>
      
    </aside>
    
    
    
  </div>
<% end %>

