<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%# render 'shared/micropost_form' %>
      </section>
    </aside>
    <aside class="col-md-8">
      
<h3>Following users</h3>
<ol class="microposts">
<% @follower_users.each do |follower_users| %>
<%= link_to gravatar_for(follower_users, size: 50), follower_users %>
<%= follower_users.name %>
<%= follower_users.email %>
<hr>
<% end %>
      
    </aside>
    
    
    
  </div>
<% end %>